@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #090314;
  border-radius: 1000px;
}

::-webkit-scrollbar-thumb {
  background: #6922FF; 
  border-radius: 1000px; 
}

body {
  width: 100%;
  background-color: #090314;
}
.App {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
}
.header_background {
  width: 100%;
  height: 350px;
  background: #090314;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #140D1E;
  display: flex;
  justify-content: center;
}
.logo {
  position: absolute;
}
.lines {
  position: absolute;
  bottom: 0;
}
.stars {
  top: 39px;
  position: absolute;
}
.ellipse {
  position: absolute;
}
.logo_mob {
  display: none;
}
.stars_mob {
  display: none;
}
@media screen and (max-width: 780px){
  /* .logo_mob {
    display: block;
    position: absolute;
    top: 55px;
  }
  .logo {
    display: none;
  } */
}
@media screen and (max-width: 560px){
  .logo_mob {
    top: 0px;
  }
  .ellipse {
    top: -20px;
  }
  .stars {
    display: none;
  }
  .stars_mob {
    display: block;
  }
  .logo_mob {
    display: block;
    position: absolute;
    top: 0px;
  }
  .logo {
    display: none;
  }
  .App {
    align-items: center;
  }
}